@import "../abstracts/variables";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8.8rem 0;
  background: url("../../assets/bg-pattern-footer-mobile.svg"), $veryLightGray;
  background-repeat: no-repeat;
  background-position: top;

  .social {
    width: 144px;
    display: flex;
    justify-content: space-between;
    margin: 3.2rem 0;
  }

  hr {
    width: 327px;
    height: 1px;
    border: 0;
    border-top: 1px solid hsl(0, 0, 86%);
    margin: 0.8rem 0;
  }

  .footer-menu-container {
    display: flex;
    flex-direction: column;
    margin-top: 3.2rem;

    span {
      font-size: 1.3rem;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      color: $darkGrayishViolet;
    }

    ul {
      margin-top: 2.8rem;
      margin-bottom: 3.2rem;
      padding-left: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.3rem;
      font-weight: bold;
      letter-spacing: 1.5px;
      list-style: none;
      color: $darkViolet;

      li {
        padding: 0.8rem 0;
        cursor: pointer;
      }
    }
  }
}
