@import "../abstracts/variables";

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: $darkViolet;

  &:before {
    content: "";
    background-image: url("../../assets/bg-pattern-intro-left-mobile.svg");
    background-repeat: no-repeat;
    background-position: center left;
    position: absolute;
    top: 6%;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  &:after {
    content: "";
    background-image: url("../../assets/bg-pattern-intro-right-mobile.svg");
    background-repeat: no-repeat;
    background-position: center right;
    position: absolute;
    top: 52%;
    right: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  img {
    width: 100%;
    height: auto;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 0 2.4rem;
    overflow: visible;
  }

  h1 {
    font-family: $dmSerif;
    font-size: 4.5rem;
    text-align: center;
    margin: 0;
    z-index: 1;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
    padding: 1.6rem 0;
  }

  button {
    width: 146px;
    height: 40px;
    background-color: $darkViolet;
    border: 1px solid white;
    font-size: 1.3rem;
    color: white;
    text-transform: uppercase;

    &:hover {
      background-color: white;
      color: $darkViolet;
      cursor: pointer;
    }
  }
}
